# Entorno virtual
venv/

# Variables de entorno
.env

# Python y Pytest
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.pytest_cache/

# Django
*.log
local_settings.py
db.sqlite3
media/

# Archivos del sistema
.DS_Store
Thumbs.db

# PostgreSQL
pg_hba.conf